body{
    box-sizing: border-box;
    font-family: "work sans",sans-serif;
    /* background-color: #E8F4FC; */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
}
.container .one,
.container .two{
    width: calc(750px / 2);
    background-color: #FFFFFF;
    border-radius: 7px;
    box-shadow: 10px 10px 30px lightgray;
}
.container  header{
    padding: 20px;
    margin-top: 25px;
    text-align: center;
    font-size: 45px;
    color: #35354A;
}
.container  span{
    font-size: 30px;
    position: relative;
    top: -13px;
}
.container .basic{
    width: 210px;
    background: #13C8A6;
    color: white;
    padding: 10px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    font-size: 20px;
    text-align: center;
    position: relative;
    left: -8px;
}
.container .basic::before{
    content: "";
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-color: transparent #10AA8C #10AA8C transparent;
    left: 0px;
    top: -8px;
}
.container .content{
    margin-top: 30px;
    padding: 0px 20px;
    /* text-align: center; */
    color: #35354A;
}
.container .content p:first-child{
    line-height: 2.3;
}
.container .send{
    text-align: center;
}
.container .send button{
    border: none;
    background-color: transparent;
    padding: 15px 25px;
    cursor: pointer;
    color: white;
    background-color: #13C8A6;
    display: inline-block;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 50px;
    font-family: "work sans",sans-serif;
    font-size: 15px;
}
/* Div Two Start  */
.container .two .basic{
    background-color: #EFCB53;
}
.container .two .basic::before{
    content: "";
    border-color: transparent #BE9A23 #BE9A23 transparent;
}
.container .two .send button{
    background-color: #EFCB53;
}
/* Div Two End  */